$copped-red: #CC755A;
$french-rose: #F13E86;
$electric-blue: #4BF2FD;
$mustard: #FDD44B;
$onyx: #414141;

@mixin button($color) {
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-weight: 600;
    font-size: 14px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: unset;
    border-radius: 12px;
    width: fit-content;
    color: var(--white);
    border: 0.125rem solid $color;
    background-color: var(--base);
    z-index: 1;

    label {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &:hover {
        box-shadow: 0 0 16px $color;
    }
}

@mixin move-done($color: var(--buttercup), $font: var(--base)) {
    cursor: pointer;
    padding: 0.5rem 1rem;
    width: 135px !important;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    overflow: hidden;
    border-radius: 12px;
    width: fit-content;
    color: $font;
    background-color: $color;
    z-index: 1;
    border: none;

    &:hover {
        box-shadow: 0 0 16px $color;
    }
}

@mixin question-def($color) {
    border-color: $color;

    div.choice {
        border-color: $color;
        background-color: $color;
        color: var(--base);
    }

    &:hover {
        box-shadow: 0 0 16px $color;
    }
}

@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
}
  
@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
}

* {
    margin: 0 !important;
}

.grid {
    padding: 3rem;
    display: grid;
    grid-template-columns: auto 500px;
    gap: 4rem;
}

.left {
    h2 {
        padding: 0%;
        font-size: 36px;
        display: flex;
        align-items: center;
        gap: 14px;
    }

    .modal-container, .time-sm, #question-img {
        display: none;
    }
    
    h3 {
        width: 100%;
        font-size: 18px;
        line-height: 30px;
        text-align: justify;
        padding-bottom: 10px;
    }

    h4 {
        font-size: 16px;
    }
    
    #answer {
        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;
        }

        label {
            display: flex;
            align-items: center;
        }
        
        img {
            width: 500px;
        }
    }

    input[name="unsure"] {
        visibility: hidden;
        position: absolute;

        &:checked + label {
            &:after {
                transform: scale(4.2);
            } 
        }
    }
    
    .unsure {
        @include button($copped-red);

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%; 
            top: 0;
            left: 0;
            transform: scale(0);
            transition: transform 0.3s ease-in;
            mix-blend-mode: difference;
            //Gradient start values are somewhat arbitrary. But this seemed a good fit to avoid overly-blurry circle edge.
            background: radial-gradient(
                circle at center, 
                var(--base) 24%, 
                $copped-red 25%, 
                $copped-red 100%);
        }
        
        &:active {
            background-color: $copped-red;
            top: 3px;
            box-shadow: none;
        }
    }
    
    button#uncheck {
        @include button($french-rose);
        appearance: none;
        position: relative;
        transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;

        &:before, &:after {
            position: absolute;
            content: '';
            display: block;
            width: 140%;
            height: 100%;
            left: -20%;
            z-index: -1000;
            transition: all ease-in-out 0.5s;
            background-repeat: no-repeat;
        }
          
        &:before {
            display: none;
            top: -75%;
            background-image:  
                radial-gradient(circle, $french-rose 20%, transparent 20%),
                radial-gradient(circle,  transparent 20%, $french-rose 20%, transparent 30%),
                radial-gradient(circle, $french-rose 20%, transparent 20%), 
                radial-gradient(circle, $french-rose 20%, transparent 20%),
                radial-gradient(circle,  transparent 10%, $french-rose 15%, transparent 20%),
                radial-gradient(circle, $french-rose 20%, transparent 20%),
                radial-gradient(circle, $french-rose 20%, transparent 20%),
                radial-gradient(circle, $french-rose 20%, transparent 20%),
                radial-gradient(circle, $french-rose 20%, transparent 20%);
            background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
            //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
        }
          
        &:after {
            display: none;
            bottom: -75%;
            background-image:  
                radial-gradient(circle, $french-rose 20%, transparent 20%), 
                radial-gradient(circle, $french-rose 20%, transparent 20%),
                radial-gradient(circle,  transparent 10%, $french-rose 15%, transparent 20%),
                radial-gradient(circle, $french-rose 20%, transparent 20%),
                radial-gradient(circle, $french-rose 20%, transparent 20%),
                radial-gradient(circle, $french-rose 20%, transparent 20%),
                radial-gradient(circle, $french-rose 20%, transparent 20%);
            background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
            //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
        }
         
        &:active {
            transform: scale(0.9);
            background-color: darken($french-rose, 5%);
            box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
        }
          
        &.animate {
            &:before {
                display: block;
                animation: topBubbles ease-in-out 0.75s forwards;
            }

            &:after {
                display: block;
                animation: bottomBubbles ease-in-out 0.75s forwards;
            }
        }
    }

    .prev {
        @include move-done($onyx, var(--white));
    }
    
    .next {
        @include move-done();
    }
    
    .done {
        @include move-done($electric-blue);
    }
}


.right {
    h3 {
        font-size: 24px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
    }
    
    img#question-img {
        width: 100%;
    }  
}

.question-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 18px;
    
    h3 {
        display: flex;
        align-items: center;
        gap: 8px;
        grid-column: span 5;
  
        img {
            height: 50%;
        }
    }

    button {
        padding: 0;
        border-radius: 12px;
        display: flex;
        border: 2px solid var(--white);
        background-color: var(--base);
        color: var(--white);
        
        div.choice {
            border-left: 2px solid var(--white);
        }
        
        &:hover {
            box-shadow: 0 0 16px var(--white);
        }
        
        div {
            width: 50%;
            height: 100%;
            padding: 12px 0;
        }
        
        &.unsured {
            @include question-def($copped-red);
        }
        
        &.answered {
            @include question-def($mustard);
        }
        
        &.show {
            @include question-def(var(--white));
        }
    }
}

.options {
    display: flex;
    gap: 14px;
}

.options.end {
    padding: 40px 0;
    justify-content: flex-end;
}

.end-modal {
    width: 100vw;
    display: flex !important;
    justify-content: center;
    align-items: center;
    z-index: -1;

    &.show {
        z-index: 1050;
    }

    .modal-content {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 16px;
        color: white;
        background-color: var(--base);
        
        &::before {
            content: '';
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            z-index: -1;
            margin: -6px;
            border-radius: 16px;
            background-image: linear-gradient(to bottom, #4BF2FD, #BB5C7B);
        }

        .modal-header, .modal-body, .modal-footer {
            width: 100%;
            font-family: Montserrat;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border: 0;
        }

        .modal-footer {
            gap: 20px;

            button {
                width: fit-content;
                border: 0;
                border-radius: 10px;

                &:nth-of-type(1) {
                    background-color: $onyx;
                }

                &:nth-of-type(2) {
                    color: var(--base);
                    background-color: $electric-blue;
                }
            }
        }
    }
}

.cp p {
    padding: 3rem;
    text-align: end;
}

.toggle-unsure {
    background-color: $copped-red !important;
}

@media only screen and (max-width: 1100px) {
    .grid {
        grid-template-columns: 1fr;
    }
    
    .left {
        .modal-container {
            padding: 0;
            display: unset;
    
            .title {
                padding: 0;
                border-color: transparent;
                background-color: transparent;
    
                h3 {
                    padding: 0;
                }
            }
    
            .modal-dialog {
                position: fixed;
                margin: auto;
                height: 100%;
                transform: translate3d(0%, 0, 0);
            }
    
            .modal-content {
                width: 100vw;
                max-width: 532px;
                height: 100%;
                overflow-y: auto;
                background-color: var(--base);
            }
            
            .modal-header {
                padding: 1rem;
                border: none;
    
                .modal-title {
                    padding: 0;
                }
    
                .close {
                    padding: 0;
                    width: fit-content;
                    color: white;
                    border: none;
                    text-shadow: none;
                    
                    span {
                        font-size: 2rem;
                        font-weight: 300;
                    }
                }
            }
            
            .modal-body {
                display: flex;
                justify-content: center;
                align-items: flex-start;

                .question-list {
                    width: 500px;
                    
                    button div {
                        padding: 6px 0;
                    }
                }
                
            }
    
            .fade .modal-dialog {
                // left: -320px;
                transition: opacity 0.3s linear, left 0.3s ease-out;
            }
            
            .fade.in .modal-dialog {
                left: 0;
            }
        }

        .prev, .next, .done {
            font-size: 16px;
            width: 120px !important;
        }
        
        .time-sm {
            padding-bottom: 16px;
            display: flex;
            align-items: center;
            gap: 8px;
    
            img {
                height: fit-content;
            }
        }
        
        #question-img {
            display: flex;
            width: 100%;
        }
    
        #answer {
            img {
                width: 400px;
            }
        }
    
        .options {
            gap: 8px;
            span {
                display: none;
            }
    
            &.unsure, &#uncheck {
                padding: 0.6rem;
            }
    
            &.end {
                padding: 1rem 0;
                flex-direction: column-reverse;
                align-items: flex-end;
            }
        }
    }
    
    .right {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    h2 {
        font-size: 24px !important;
    }

    h3 {
        font-size: 16px !important;
    }

    .grid {
        padding: 1rem;
    }

    .left {
        #answer img {
            max-width: 100%;
            width: 300px;
        }
        
        h4 {
            font-size: 14px;
        }
    }


    .cp p {
        padding: 1rem;
    }
}