:root {
    --base: #000022;
    --buttercup: #f5af0f;
    --electric-violet: #7a02f3;
    --ripe-plum: #4e005a;
    --lavender-rose: #F934F1;
    
    /* Font */
    --white: #FFFFFF;
    --grey: #BCB6B6;
    
    /* Alert */
    --danger: #FF0000;
}

* {
    margin: 0;
    padding: 0;
    transition: all ease .2s;
    box-sizing: border-box;
}

body {
    background-color: var(--base);
    width: 100%;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--base);
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
    background: var(--ripe-plum);
    border-radius: 6px;
}

h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 66px;
    padding: 20px;

    color: var(--white);
}

h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 51px;

    color: var(--white);
}

h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    color: var(--white);
}

p,
a {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: var(--white);
}

a {
    text-shadow: 0px 0px 3.5px var(--white);
}

a:hover {
    color: var(--white);
}

a.underline-link {
    text-decoration: underline;
}

.caption {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

    color: var(--white);
}

button,
button:focus,
button:focus-within,
button:hover {
    outline: none;
}

button {
    cursor: pointer;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 14px;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    width: 100%;
}

.btn-submit {
    color: var(--white);
    border: 1px solid var(--buttercup);
    background-color: var(--base);
    z-index: 1;
}

.btn-submit:hover, .btn-submit.focus:focus {
    background-color: var(--buttercup);
    box-shadow: 0px 0px 15px var(--buttercup);
}

.btn-lavender {
    color: var(--white);
    border: 1px solid var(--lavender-rose);
    background-color: var(--base);
    z-index: 1;
    width: fit-content;
    justify-content: center;
}

.btn-lavender:hover, .btn-lavender.focus:focus{
    background-color: var(--lavender-rose);
    box-shadow: 0px 0px 15px var(--lavender-rose);
}

.form-control {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    
    padding: 0 11.5px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    
    color: var(--white);
    background-color: var(--base);
    border: 2px solid var(--electric-violet);
    border-radius: 50px;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}

.form-check-input {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: -1.25rem;
}

.danger-alert {
    color: var(--danger);
}

/* Tablet */
@media screen and (max-width: 1100px) {
    h2 {
        font-size: 34px;
        line-height: 51px;
        font-weight: 500;
    }
}

/* Mobile */
@media screen and (max-width: 700px) {
    h2 {
        font-size: 28px;
        line-height: 38px;
    }

    h4 {
        font-size: 16px;
    }
    
    .caption, a, p, button {
        font-size: 12px;
    }
}